<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jewelrypricingapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JewelryPricingApp"
        tools:targetApi="31">
        <activity
            android:name=".material"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".GemStoneEarrings"
            android:exported="false" />
        <activity
            android:name=".DiamondEarrings"
            android:exported="false" />
        <activity
            android:name=".NoStoneEarrings"
            android:exported="false" />
        <activity
            android:name=".GemStoneNecklace"
            android:exported="false" />
        <activity
            android:name=".DiamondNecklace"
            android:exported="false" />
        <activity
            android:name=".NoStoneNecklace"
            android:exported="false" />
        <activity
            android:name=".GemstoneBracelet"
            android:exported="false" />
        <activity
            android:name=".DiamontBracelet"
            android:exported="false" />
        <activity
            android:name=".NoStoneBracelet"
            android:exported="false" />
        <activity
            android:name=".Elist"
            android:exported="false" />
        <activity
            android:name=".Nlist"
            android:exported="false" />
        <activity
            android:name=".Blist"
            android:exported="false" />
        <activity
            android:name=".GemStoneRing"
            android:exported="false" />
        <activity
            android:name=".DiamondRing"
            android:exported="false" />
        <activity
            android:name=".NoStoneRing"
            android:exported="false" />
        <activity
            android:name=".Rlist"
            android:exported="false" />
    </application>

</manifest>